body {
    background-image: url("../images/background2.png");
}

.dashboard {
    background-color: white;
    border:1px solid black;
    margin-left: 35px;
}

.dashboard a{
    color: red;
}

.gameboard{
    background-image: url("../images/background.jpg");
    margin-left: 10px;
}

.playingboard{
    height: 350px;
}

.displayboard{
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.options{
    border-top: 2px solid black;
    padding-top: 10px;
}
.dealboard{
    background-image: url("../images/background.jpg");
    margin-bottom: 20px;
    height: 180px;
    width: 140px;
    padding: 5px;
    margin-left: 770px;
}

.playerboard img, .displayboard img, .dealboard img{
    width: 130px;
    height: 150px;
}

#player-1 img, #player-2 img{
    position: absolute;
    top: 40px;
    transition: transform .2s;
}

#player-1 img:hover, #player-2 img:hover, .dealboard img:hover{
    transform: scale(1.1);
}

#player-1, #player-2{
   
}

.card-1{ left: 10px;z-index: 1;}.card-2{ left: 40px;z-index: 2;}.card-3{left: 70px;z-index: 3;}
.card-4{left: 100px; z-index: 4;}.card-5{left: 130px;z-index: 5;}.card-6{left: 160px;z-index: 6;}
.card-7{ left: 190px;z-index: 7;}.card-8{ left: 220px;z-index: 8;}.card-9{left: 250px;z-index: 9;}
.card-10{left: 280px; z-index: 10;}.card-11{left: 100px;z-index: 4;}.card-12{left: 100px;z-index: 4;}
.card-13{ left: 10px;z-index: 1;}.card-14{ left: 40px;z-index: 2;}.card-15{left: 70px;z-index: 3;}
.card-16{left: 100px; z-index: 4;}.card-17{left: 100px;z-index: 4;}.card-18{left: 100px;z-index: 4;}